/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  list-style: none;
}

body {
  background: #f5f5f5;
  color: #ffffff;
}

/* Header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #000;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
}

.logo:hover{
  color: white;
  text-shadow: 0 0 25px brown,
               0 0 50px brown;
  transform: scale(1.1);
}

.logo span {
  color: rgb(255, 255, 255);
}

.navbar a {
  font-size: 18px;
  color: white;
  margin: 0 15px;
  font-weight: 500;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
  color: rgb(255, 255, 255);
  border-bottom: 3px solid rgb(104, 42, 0, 0.747);
}

.contact {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  border: 2px solid transparent;
  font-weight: 600;
  transition: 0.3s ease;
}

.contact:hover {
  background: rgb(104, 42, 0, 0.747);
  color: white;
  box-shadow: 0 0 25px rgb(104, 42, 0, 0.747);
}

/* HERO */
.project-hero {
  height: 60vh;
  background: url(https://i.pinimg.com/736x/7b/c6/7a/7bc67a0d9779cc77e73dd110277252f9.jpg) center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
  margin-top: 80px;
}

.project-hero::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
}

.overlay {
  position: relative;
  z-index: 2;
}

.overlay h1 {
  font-size: 48px;
  margin-bottom: 15px;
  color: white;
}

.overlay p {
  font-size: 18px;
  color: black;
}

/* PROJECTS GRID */
.projects-section {
  padding: 100px 10%;
  background: rgb(104, 42, 0, 0.747);
  text-align: center;
}

.projects-section h2 {
  font-size: 34px;
  color: black;
  margin-bottom: 40px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.project-card {
  background: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px black;
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px black;
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  margin-bottom: 10px;
  color: black;
}

.card-content p {
  color: #944700;
  line-height: 1.6;
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background: rgb(104, 42, 0, 0.747);
  color: #000;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.3s;
}

.btn:hover {
  background: #000;
  color: white;
}

/* TECHNOLOGIES */
.tech-section {
  background-image: url(https://i.pinimg.com/736x/54/34/1a/54341afeff12c0023f80ddfefc16a66a.jpg);
  color: black;
  text-align: center;
  padding: 80px 10%;
}

.tech-section h2 {
  color: rgb(255, 255, 255);
  margin-bottom: 40px;
}

.tech-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.tech {
  background: white;
  color: black;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 600;
  transition: 0.3s;
}

.tech:hover {
  background: rgb(104, 42, 0, 0.747);
  color: white;
}

/* CALL TO ACTION */
.cta-section {
  text-align: center;
  padding: 100px 10%;
  background: url(https://i.pinimg.com/736x/de/95/b8/de95b86d6fb37221f4c29c49af011b6d.jpg);
}

.cta-section h2 {
  font-size: 32px;
  color: rgb(104, 42, 0, 0.747);
  margin-bottom: 20px;
}

.cta-section p {
  color: #ffffff;
  max-width: 700px;
  margin: 0 auto 30px;
  line-height: 1.7;
}

.cta-btn {
  background: rgb(255, 255, 255);
  color: black;
  padding: 12px 28px;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.3s;
}

.cta-btn:hover {
  background: rgb(104, 42, 0, 0.747);
  color: rgb(0, 0, 0);
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: rgb(0, 0, 0);
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}
.footer .social a img{
    font-size: 24px;
    color: grey;
    border: 2px solid rgba(104, 42, 0, 0.747);
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: 0 0 10px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255);
    transition: border-color 0.3s ease-in-out;
}
.footer .social a:hover{
    transform: scale(1.2) translateY(-10px);
    color: rgb(0, 0, 0);
    border: 20px solid transparent rgb(173, 104, 0);
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.footer ul li a:hover{
    border-bottom: 3px solid rgba(104, 42, 0, 0.747);
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: white;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
  }
