*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    list-style: none;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.logo{
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 25px brown,
                 0 0 50px brown;
    transform: scale(1.1);
}
span{
    color: rgb(255, 255, 255);
}
.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500px;
    margin: 0 15px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.navbar a:hover,
.navbar a.active{
    color: rgb(252, 252, 252);
    border-bottom: 2px solid rgba(104, 42, 0, 0.747);
}
.contact{
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
}
.contact:hover{
    background: rgba(104, 42, 0, 0.747);
    box-shadow: 0 0 25px rgba(104, 42, 0, 0.747);
    color: white;
}
.home{
    /*width: 100%;
    min-height: 100vh;
    background-image: url(https://i.pinimg.com/736x/4a/77/e5/4a77e5a4f41df00ad84dc8dce6321664.jpg);
    background-repeat: no-repeat;
    background-position: 100%;*/
    background: url('https://i.pinimg.com/736x/d6/54/c6/d654c67897f00c7494d6b9d8fb24cc21.jpg')center/cover no-repeat;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 80px;
}
h2{
    color: rgba(104, 42, 0, 0.747);
}
.home-content{
    max-width: 800px;
    margin-top: 100px;
}
.home-content h3{
    font-size: 40px;
}
.home-content h1{
    font-size: 62px;
    line-height: 1.2;
}
.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
}
.btn-box{
    width: 345px;
    display: flex;
    gap: 2em;
}
.btn-1{
    padding: 15px 28px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}
.btn-1:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}
.btn-2{
    padding: 15px 20px;
    background-color: rgb(255, 255, 255);
    color: rgba(104, 42, 0, 0.747);
    border: 2px solid rgba(104, 42, 0, 0.747);
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-2:hover{
    background-color:rgba(104, 42, 0, 0.747);
    color: white;
}
.img-box img{
    border-radius: 50%;
    width: 550px;
    height: 110vh;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: black;
    width: 50px;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: rgb(0, 0, 0);
}
.about-img img{
    position: relative;
    width: 550px;
    box-shadow: 0 0 25px black,
                0 0 50px black;
    border-radius: 50%;            
}
.about-content h2{
    text-align: left;
    color: white;
    font-size: 42px;
}
.about-content h3{
    font-size: 62px;
    color: white;
}
.about-content p{
    color: white;
    font-size: 20px;
    margin: 2em 0 3em;
    text-align: left;
}

.contact-form h2{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}
.contact-form form{
    max-width: 50em;
    margin: 2rem auto;
    text-align: center;
    margin-bottom: 3em;
}
.contact-form form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-form form .input-box input{
    width: 100%;
    padding: 0.9em;
    font-size: 18px;
    color: black;
    background: white;
    /*border-radius: 10rem;*/
    margin: 1.5em;
    resize: none;
}
.contact-form form textarea{
    width: 93%;
    padding: 0.9em;
    font-size: 18px;
    color:rgba(104, 42, 0, 0.747);
    background: white;
   /* border-radius: 10%;*/
    margin: 1.5em;
    resize: none;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: rgb(0, 0, 0);
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}
.footer .social a img{
    font-size: 24px;
    color: grey;
    border: 2px solid rgba(104, 42, 0, 0.747);
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: 0 0 10px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255);
    transition: border-color 0.3s ease-in-out;
}
.footer .social a:hover{
    transform: scale(1.2) translateY(-10px);
    color: rgb(0, 0, 0);
    border: 20px solid transparent rgb(173, 104, 0);
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.footer ul li a:hover{
    border-bottom: 3px solid rgba(104, 42, 0, 0.747);
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: white;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .portfolio-grid {
    grid-template-columns: 1fr;
  }
}


